/**
 * @name Blurry Backdrop
 * @author NSPG911
 * @version 1.0.0
 * @description Make backdrops formed from full screen elements be blurry
 * @source https://github.com/NSPC911/themes
*/

:root {
  --blrbg-blur-by: 2px;
  --blrbg-dimmness: 25;
}

.backdrop__78332 {
  background: rgba(0, 0, 0, calc(var(--blrbg-dimmness) / 100)) !important;
  backdrop-filter: blur(var(--blrbg-blur-by)) !important;
}

/* fix for the image viewer thing */
.carouselModal_d3a6f0 > div {
  > .author__6088c {
    background-color: transparent;
    backdrop-filter: blur(calc(var(--blrbg-blur-by) * 5));
    padding: 5px 10px 5px 60px;
    margin: -5px 0 -5px -60px;
    border-radius: 8px;
    width: fit-content;
    .timestamp__6088c {
      color: color-mix(in xyz, white 50%, var(--text-muted) 50%);
    }
  }
  > .authorAvatar__6088c {
    z-index: 5;
  }
}
