/* Compact context menu */
[class*="layer_"] > [class*="menu_"] > [class*="scroller_"] {
    margin: -4px !important;
}

[class*="layer_"] > [class*="menu_"] > [class*="scroller_"] [class*="separator_"] {
    margin: 1px 8px !important;
}

[class*="layer_"] > [class*="menu_"] > [class*="scroller_"] [class*="wrapper_"] {
    padding: 2px !important;
}

[class*="layer_"] > [class*="menu_"] > [class*="scroller_"] [class*="item_"] {
    min-height: 32px !important;
    padding: 4px 8px !important;
}
