import url("https://raw.githubusercontent.com/thebebee/Discord-CSS/refs/heads/main/css%20snippets/ColorfulDiscord.css");

:root {
  --rec-locked: var(--status-danger-background);

  --rec-news-1: rgba(255, 166, 0, 0.811);
  --rec-news-2: rgba(255, 68, 0, 0.811);

  --rec-rules: rgba(0, 128, 0, 0.811);

  --rec-stage: rgba(102, 51, 153, 0.811);
  --rec-mic: rgba(181, 16, 16, 0.811);

  --rec-forum: rgba(51, 144, 153, 0.811);

  --rec-help: rgba(255, 255, 0, 1);
  --rec-delete: var(--status-danger-background);

  --rec-ping-locked: var(--status-danger-background);

  --rec-create-channel-locked: var(--status-danger-background);

  --rec-category: rgb(167, 62, 194);
  --rec-category-effect:  rgb(189, 38, 181);
  --rec-roles-category: rgb(189, 38, 181);

  --rec-channel-lines: rgb(90, 24, 107);
  --rec-channel-selected: rgba(90, 24, 107, 0.72);

  --rec-unread-text-color: rgb(189, 38, 181);
  --rec-unread-circle-color: rgb(167, 62, 194);

  --rec-top-boosting: var(--guild-boosting-pink);
  --rec-top-members: rgb(187, 177, 35);
  --rec-search-channels: rgb(38, 166, 106);
  --rec-top-events: rgb(38, 81, 166);
  --rec-top-pin: rgb(167, 85, 51);
  --rec-top-noti-on: rgb(37, 154, 4);
  --rec-top-noti-off: rgb(154, 4, 4);

  --rec-dm-nitro: rgb(226, 146, 170);
  --rec-dm-friends: rgb(187, 177, 35);
  --rec-dm-shop-1: rgb(187, 15, 15);
  --rec-dm-shop-2: rgb(203, 193, 116);

  --rec-threads: rgba(166, 38, 85, 0.625);
  --rec-threads-line: rgb(111, 24, 56);
  --rec-threads-line-effect: rgb(213, 26, 94);

  --rec-message-delay: var(--status-danger-background);
}

/* abrecolors ^^^*/

/* Collapse Clan Tags */
.chipletContainerInner__10651 > .text__10651 > .tagText__10651 {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
  will-change: max-width, margin;
  transition: max-width 0.5s cubic-bezier(0.34, 1.56, 0.64, 1),
              margin 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.chipletContainerInner__10651:hover > .text__10651 > .tagText__10651 {
  max-width: 20ch;
  margin-right: .3ch;
  transition-delay: 0.18s;
}
.chipletContainerInner__10651 > .text__10651 > img.badge__10651 {
  margin-right: 0;
  transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1),
              margin 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.chipletContainerInner__10651:hover > span > img.badge__10651 {
  transform: rotateZ(360deg);
  margin-right: .6ch;
  transition-delay: 0.18s;
}
.chipletContainerInner__10651 {
  position: relative;
  display: inline-block;
  background-color: var(--background-mod-subtle);
  padding: 0 2px;
  margin-left: 0;
}
.chipletContainerInner__10651:hover ~ .tagText__10651 {
  display: block;
  clear: both;
  margin-top: .5ch;
}

/* compact context menu */
.layer__59d0d > .menu_c1e9c4 > .scroller_c1e9c4 {
    margin: -4px;
    .separator_c1e9c4 {
        margin: 1px 8px !important;
    }
    .wrapper_f563df {
        padding: 2px !important;
    }
    .item_c1e9c4{
        /* min-height is 32px as default, change value for desired look */
        min-height: 32;
        /* padding is 4px 8px as default, change value for desired look */
        padding: 4px 8px;
    }
}

/* colored role pills */
.role_dfa8b6.pill_dfa8b6 {
    position: relative;
    background: none;
    border: none;
    padding-left: 28px;
}

.role_dfa8b6.pill_dfa8b6 > span {
    z-index: 1;
}

.role_dfa8b6.pill_dfa8b6 .roleRemoveButton_dfa8b6 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0 !important;
}

.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569 {
    margin: 6px 8px;
}

.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569::before {
    content: '';
    display: block;
    position: absolute;
    background-color: inherit;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: var(--radius-xs);
    filter: brightness(1.1);
    opacity: 0.25;
}

/* Status based Activity Status Icons */
[class^=memberInner]:has(> div > [aria-label*="Online"]) [class^=subText] svg>path[fill="#43a25a"] {
    fill: #43b581;
}

[class^=memberInner]:has(> div > [aria-label*="Idle"]) [class^=subText] svg>path[fill="#43a25a"] {
    fill: #f0b232;
}

[class^=memberInner]:has(> div > [aria-label*="Do Not Disturb"]) [class^=subText] svg>path[fill="#43a25a"] {
    fill: #f23f43;
}

[class^=memberInner]:has(> div > [aria-label*="Streaming"]) [class^=subText] svg>path[fill="#43a25a"] {
    fill: #643da7;
}

/* Animated Messages on Hover */
[data-list-item-id*="message"],
[class*="messageListItem"],
[id*="message-"],
li[class*="messageListItem"] {
    position: relative;
    border-radius: var(--wave-border-radius);
    transition: all 0.3s ease;
}
[data-list-item-id*="message"]:hover,
[class*="messageListItem"]:hover,
li[class*="messageListItem"]:hover {
    transform: translateX(6px);
}


:root {
    --\\--compact-title-bar: true;
    --\\--compact-input-box: true;
    --\\--compact-context-menu: true;
    --\\--compact-user-area: false;
    --\\--compact-channel-categories: false;
    --\\--compact-server-list: true;

    --\\--hide-nameplates: false;
    --\\--hide-guild-tags: false;
    --\\--hide-profile-effects: false;
    --\\--hide-avatar-decorations: false;
    --\\--hide-gradient-glow-usernames: false;
    --\\--hide-server-boost-goal: false;
    --\\--hide-server-activity: true;
    --\\--hide-user-activity: false;
    --\\--hide-context-menu-quick-reactions: true;
    --\\--hide-hover-quick-reactions: true;
    --\\--hide-image-edit-button: true;
    --\\--hide-gif-button: false;
    --\\--hide-sticker-button: false;
    --\\--hide-emoji-button: false;
    --\\--hide-apps-button: true;
    --\\--hide-gift-button: true;
    --\\--hide-help-button: false;
    --\\--hide-shop-button: false;
    --\\--hide-nitro-button: true;
    --\\--hide-active-now: false;
    --\\--hide-nitro-upsells: true;
    --\\--hide-vencord-desktop-platform-indicator: true;
    --\\--hide-cluttery-badges: true;
    /* ^ hides quest, hypesquad, active dev, and discriminator badges */

    --\\--darker-scrollbar: true;
    --\\--darker-hovered-message: true;
    --\\--prevent-sidebar-resizing: false;
    --\\--fix-minor-icon-misalignments: true;
}


