/**
 * @name RadialStatus Fix
 * @description RadialStatus with custom typing indicator fixes
 */

@import url('https://discordstyles.github.io/RadialStatus/RadialStatus.css');

:root {
    --rs-small-spacing: 2px;
    --rs-medium-spacing: 3px;
    --rs-large-spacing: 4px;

    --rs-small-width: 2px;
    --rs-medium-width: 3px;
    --rs-large-width: 4px;

    --rs-avatar-shape: 50%;

    --rs-online-color: #43b581;
    --rs-idle-color: #faa61a;
    --rs-dnd-color: #f04747;
    --rs-offline-color: #636b75;
    --rs-streaming-color: #643da7;
    --rs-invisible-color: #747f8d;

    --rs-self-speaking-color: #57d39b;
    --rs-phone-color: var(--rs-online-color);

    --rs-phone-visible: block;
}


/* =========================================
   Custom typing indicator fixes
   ========================================= */

/* Center the dark typing background */
#app-mount .wrapper__44b0c .pointerEvents__44b0c[x="14.5"] {
    width: 30px !important;
    height: 30px !important;
    x: 1px !important;
    y: 1px !important;
}

/* Move typing dots into correct position */
#app-mount .wrapper__44b0c [class*="dots_"] {
    transform: translate(-4px, -7px) !important;
    overflow: visible !important;
}
